$themeBGColor: #000;
$themeColor: rgb(38, 176, 255);
$themeColorHover: rgb(33, 138, 198); 
$green: #1cc389;
$yellow: #ff9a1e;
$textColor: #3a4954;
$lightButtonColor: #ffffff;
$lightButtonBorderColor: #a0a0a0;
$lightButtonColorHover: #f1f1f1;

.color{
    color: $themeColor;
}
.gray{
    color: #8592a5;
}